@import '@/assets/base.css';
h1[data-v-63ae9146] {
    font-weight: bold;
    font-size: 2.75rem;
    top: -10px;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
label[data-v-63ae9146] {
    font-size: 1.25rem;
}
input[data-v-63ae9146] {
    font-family: sans-serif;
    font-size: 20px;
    width: 50%;
    background: none;
    color: black;
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 10px
}
.input-wrapper[data-v-63ae9146] {
    margin: 2rem;
    font-size: 1rem;
}
.send-button[data-v-63ae9146] {
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 2rem;
    cursor: pointer;
}
.send-button[data-v-63ae9146]:disabled {
    opacity: 0.5;
}
.register-form[data-v-63ae9146] {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}


button[data-v-af771b30] {
    font-size: 10px;
}
p[data-v-af771b30] {
    text-color: red;
}

  /**/
* {
    margin: 0;
}
a {
     text-decoration: none; /* no underline */
}
#app {
    height: 100%;
}
html {
    height: 100%
}
body {
    font-family: sans-serif;
    height: 100%
}
.centered-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    flex-direction: column;
    height: 100%;
}
.header {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
}
.header > .wrapper {
    width: 900px;
}
.header .left {
    margin-left: 30px;
}
.header .right {
    margin-right: 30px;
}
.header .space {
    flex-grow: 1;
}
.content {
    flex-grow: 1;
    position: relative;
    width: 100%;
    overflow: scroll;
}
.footer {
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
}
nav {
    display: flex;
}
nav .navigation {
    margin-left: 3px;
    margin-right: 3px;
}
.vue-universal-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    overscroll-behavior: contain;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: left;
    position:absolute;
}
.modal {
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
.greeting{
    margin-right: 15px;
}


h1[data-v-9ea40744] {
    font-weight: bold;
    font-size: 2.75rem;
    top: -10px;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
nav[data-v-9ea40744] {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
}
nav a[data-v-9ea40744] {
    padding: 5px 10px;
    width: 100%;
    background: royalblue;
    text-align: center;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
}
.logout[data-v-9ea40744] {
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    background: royalblue;
    text-align: center;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
}
a.play[data-v-9ea40744] {
    background-color: orange;
}
h1[data-v-9ea40744] {
    text-align: center;
    padding-bottom: 10px;
}
.emoji-title[data-v-9ea40744] {
    font-size: 5rem;
    text-align: center;
}

.game-link[data-v-dfa49f12] {
    cursor: pointer;
    background: royalblue;
    padding: 10px 0;
    color: white;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.play-game[data-v-dfa49f12] {
    cursor: pointer;
    background: orange;
    padding: 10px 0;
    color: white;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
h1[data-v-dfa49f12] {
    font-weight: bold;
    font-size: 2.75rem;
    top: -10px;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
nav[data-v-dfa49f12] {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
}
nav a[data-v-dfa49f12] {
    padding: 5px 10px;
    width: 100%;
    background: royalblue;
    text-align: center;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
}
a.play[data-v-dfa49f12] {
    background-color: orange;
}
h1[data-v-dfa49f12] {
    text-align: center;
    padding-bottom: 10px;
}
.emoji-title[data-v-dfa49f12] {
    font-size: 5rem;
    text-align: center;
}

h1[data-v-26084dc2] {
    font-weight: bold;
    font-size: 2.75rem;
    top: -10px;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
label[data-v-26084dc2] {
    font-size: 1.25rem;
}
input[data-v-26084dc2] {
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    background: none;
    color: black;
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 10px
}
.input-wrapper[data-v-26084dc2] {
    margin: 2rem;
    font-size: 1rem;
}
.send-button[data-v-26084dc2] {
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 2rem;
    cursor: pointer;
}
.send-button[data-v-26084dc2]:disabled {
    opacity: 0.5;
}
.register-form[data-v-26084dc2] {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}


button {
  font-size: 2.7rem;
}
.wrap,
.action-buttons  {
  margin-left: 25px;
  flex-direction: column;
}
.submit {
  margin-top:10px;
  margin-bottom:10px;
}

.hint[data-v-aee8519a] {
  font-size: 1rem;
}
h1[data-v-aee8519a] {
  margin-right: 15px;
  width: 50px;
  text-align: right;
}
.line[data-v-aee8519a] {
  width: 65px;
  height: 65px;
}
.hint[data-v-aee8519a] {
  width: 30px;
  height: 30px;
}


.gameboard[data-v-1bdf0834] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button[data-v-1bdf0834] {
    font-size: 5rem
}
.line[data-v-1bdf0834] {
    color: darkgrey;
}
.hint[data-v-1bdf0834] {
    font-size: 1rem
}

.playmode[data-v-3586849e] {
  display:flex;
  align-items: flex-start;
}
